extends layout
block content
  h1= title
  p Welcome to the Organicfruits
  div(class="container-fluid")
        div(class="row")
            -
                let Organicfruits = [
                    {
                        "Itemname": "PineApple",
                        "Quantity": 4,
                        "price": "Four USD"
                    },
                    {
                        "Itemname": "Mango",
                        "Quantity": 40,
                        "price": "Forty USD"
                    },
                    {
                        "Itemname": "Strawberry",
                        "Quantity": 16,
                        "price": "Hundred USD"
                    },                   
                ]
            each v,index in Organicfruits
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Itemname}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Quantity}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }